node_modules/
.next/
out/
build/
.DS_Store
*.pem
npm-debug.log*
.env.local
.env*.local
.vercel
next-env.d.ts
tsconfig.tsbuildinfo
coverage/
playwright-report/
test-results/

package-lock.json
yarn.lock
pnpm-lock.yaml
